
.header {
    &__title {}
    &__sub{}
    &__exchange{
        display: flex;
        justify-content: center;
        &--amount1 {
            background-color: white;
            background-color: -moz-field;
            border: 1px solid darkgray;
            box-shadow: 1px 1px 1px 0 lightgray inset;  
            width: 200px;
            font:500 20px Arial;
            margin-right: 30px;
        }
        &--amount2 {
            -moz-appearance: textfield;
            -webkit-appearance: textfield;
            background-color: white;
            background-color: -moz-field;
            border: 1px solid darkgray;
            box-shadow: 1px 1px 1px 0 lightgray inset;  
            width: 200px;
            padding: 1px 2px;
            font:500 20px Arial;
            margin-left: 30px;
        }
        &--first {
            margin: 0 30px;
        }
    }
}